.input-comment {
  width: 100%;
}

.comment {
  border: 1px solid black;
  margin-top: 5px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.user {
  padding-top: 30px;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: flex-end;
}
