.input-comment {
  width: 100%;
}

.comment {
  border: 1px solid black;
  margin-top: 5px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.totalposts {
  text-align: center;
}

.form-post {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px 0;
}

.MuiFormControl-root {
  margin-bottom: 10px !important;
  background-color: white !important;
}

.input-post {
  background-color: #fff;
  width: 100%;
}

#submit-button {
  width: 100%;
}
